{{yield}}

<h1>{{question.question}}</h1>

<p>
Written by <em>{{question.author}}</em>
</p>

<p>
  {{question.notes}}
</p>

<hr>

<div class="jumbotron answer answerlistlist">

  <h3> All the answers to {{question.author}}'s inquiry:</h3><br>
  {{#each question.answers as |answer|}}
    <div class="posted-answer">
      <h2>{{answer.user}}</h2>
      <h5><em>{{answer.date}}</em></h5>
      <p>{{answer.content}}</p>
      <span title="delete" {{action 'deleteAnswer' answer}} class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
      {{edit-answer answer=answer editAnswer="editAnswer"}}
    </div>
  {{/each}}

</div>


  {{new-answer saveAnswer="saveAnswer" question=question}}
