{{outlet}}



<p>Submit your message and see what completely unhelpful answers you receive</p>


<h2> All the questions: </h2>
<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{new-question save="save"}}

<h2> Answers </h2>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{#link-to 'answer' answer.id}}{{answer.content}}{{/link-to}}</li>
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer"}}
